.boton-seleccionar-especies {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.75rem;
    outline: none;
    border: 1.5px solid lightgrey;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    box-sizing: border-box;
    color: #ed5564;
}

.boton-seleccionar-especies:hover{
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 20px -17px;
}

.boton-seleccionar-especies:active{
    transform: scale(0.95);
}

.input-contenedor-especies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.input-contenedor-especies label{
    font-size: 1.25rem;
}

.popup-especie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 60vh;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border-radius: 12px;
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 3px 3px darkgray;
    z-index: 1000;
}

.popup-especie h4{
    margin: 4%;
}

.contenedor-especies {
    width: 100%;
}


.botones-especie {
    margin: 0.5rem;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #ed5564;
    color: whitesmoke;
    cursor: pointer;
    border: 2px solid #ed5564;
    box-shadow: 2px 2px 2px 2px darkgray;
}

.botones-especie:hover {
    box-shadow: none;
}

.paginador {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.boton-anterior,
.boton-siguiente,
.boton-cierre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #ed5564;
    cursor: pointer;
    border: 2px solid #ed5564;
    box-shadow: 2px 2px 2px 2px darkgray;
}

.boton-anterior:hover,
.boton-siguiente:hover,
.boton-cierre:hover {
    background-color: #ed5564;
    color: whitesmoke;
    box-shadow: none;
}

.boton-anterior {
    margin-right: 1rem;
}

.boton-cierre{
    margin-left: 82%;
    bottom: 3.5rem;
    position: relative;
}