.species-container .boton-seleccionar-especie {
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.75rem;
    outline: none;
    border: 1.5px solid lightgrey;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    box-sizing: border-box;
    color: #ed5564;
}

.species-container .boton-seleccionar-especie:hover {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 20px -17px;
}

.species-container .boton-seleccionar-especie:active {
    transform: scale(0.95);
}

.species-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.species-container label {
    font-size: 1.25rem;
}

.popup-especie {
    width: 29vw;
    height: 70vh;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border-radius: 12px;
    border: 2px solid lightgrey;
    box-shadow: 3px 3px 3px 3px darkgray;
}

.popup-especie h4 {
    font-size: 1.5rem;
    font-style: oblique;
    display: flex;
    justify-content: center;
}

.contenedor-especies {
    width: 100%;
    margin-top: 3rem;
}

.boton-seleccionar-especie {
    background-color: white;
    cursor: pointer;
}

.boton-seleccionar-especie:hover {
    background-color: lightgray;
}

.select-species {
    margin: 0.5rem;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: #ed5564;
    color: whitesmoke;
    cursor: pointer;
    border: 2px solid #ed5564;
    box-shadow: 2px 2px 2px 2px darkgray;
}

.select-species:hover {
    box-shadow: none;
}

.paginador {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.boton-anterior,
.boton-siguiente {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #ed5564;
    cursor: pointer;
    border: 2px solid #ed5564;
    box-shadow: 2px 2px 2px 2px darkgray;
}

.paginador .boton-cerrar{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #ed5564;
    color: white;
    cursor: pointer;
    border: 2px solid #ed5564;
    box-shadow: 2px 2px 2px 2px darkgray;
}

.boton-anterior {
    margin-right: 1rem;
}

.boton-anterior:hover,
.boton-siguiente:hover {
    background-color: #ed5564;
    color: whitesmoke;
    box-shadow: none;
}

.boton-cerrar:hover{
    background-color: whitesmoke;
    color: #ed5564;
    box-shadow: none;
}


@media (max-width: 1024px) and (min-width: 300px) {
    .species-container {
        flex-direction: column;
        align-items: flex-start;
        width: 125%;
    }
}

@media (min-width: 1024px) {
    .species-container {
        flex-direction: row;
        align-items: center;
    }
}

.species-container button:focus {
    border: 1px solid grey;
}